<button
    class="btn btn-success text-white mb-3 d-flex justify-content-end"
    cButton
    data-bs-toggle="modal"
    data-bs-target="#exampleModal">
    Crear solicitud
</button>

<div class="modal" id="exampleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>       
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Tipo Solicitud</th>
      <th scope="col">Urgencia</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Vacaciones</td>
      <td>Media</td>
      <td><strong>Enviada</strong></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Día libre</td>
      <td>Alta</td>
      <td><strong>Enviada</strong></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Cita Médica</td>
      <td>Baja</td>
      <td><strong>Enviada</strong></td>
    </tr>
  </tbody>
</table>

