<div>
    <h4>Información General</h4>
    <p>Nombre: {{profile.firstName}}</p>
    <p>Apellido: {{profile.lastName}}</p>
    <p>Nombre de Usuario: {{profile.userName}}</p>
    <p>Email: {{profile.email}}</p>
    <p>Número de Teléfono: {{profile.phoneNumber}}</p>
</div>

<hr>

<button (click)="toggleProfileInfo()" style="background-color: lightblue;">Ver Perfil</button>
<button (click)="toggleBenefitsInfo()" style="background-color: antiquewhite;">Ver Prestaciones</button>
<button (click)="verActividades()" style="background-color: lightcoral;">Ver Actividades</button>
<button (click)="verReportes()" style="background-color: lightcyan;">Ver Evaluaciones</button>
<button (click)="verSolicitudes()" style="background-color: lightseagreen;">Ver Solicitudes</button>

<div *ngIf="showProfileInfo">
    <div>
        <h4>Perfil</h4>
        <p>Asistencias: {{profile.assists}}</p>
        <p>Faltas: {{profile.absences}}</p>
        <p>Retardos: {{profile.delays}}</p>
        <p>País: {{profile.country}}</p>
        <p>Estado: {{profile.state}}</p>
        <p>Municipio: {{profile.municipality}}</p>
        <p>Sueldo (Mensual): {{profile.salary | currency}}</p>
        <p>Fecha de Ingreso: {{profile.admissionDate}}</p>
    </div>
</div>

<div *ngIf="showBenefitsInfo">
    <div>
        <h4>Prestaciones</h4>
        <p>Bono Nivel A: {{benefits.bonusA}}</p>
        <p *ngIf="benefits.includesBonusB">Bono Nivel B: {{benefits.bonusB}}</p>
        <p *ngIf="benefits.includesBonusC">Bono Nivel C: {{benefits.bonusC}}</p>
        <p>Holidays: {{benefits.holidays}}</p>
        <p *ngIf="benefits.hasHealthCare">Seguro Médico: Incluido</p>
    </div>
</div>